@{
    ViewBag.Title = "Lookup Page";
}

@*<div class="jumbotron">
    <h1>Al's Order Lookup</h1>
    <p class="lead">
        Display orders for a customer
    </p>
</div>*@

<div class="row">
    
    <div class="col-md-4">
        <br />
        @{ Html.BeginForm("Lookup", "Home"); }
        @Html.Label("Desired Customer Id: ")
        @Html.TextBox("myTextBox", "This is value", new { @class = "form-control" })
        <br />
        <input type="submit" value="Lookup" class="btn" />
        @{ Html.EndForm(); }
    </div>
 
</div>