@model Models.OrdersListViewModel

@{
    ViewBag.Title = "Lookup Page";
}

<div class="row">
    
    <div class="col-md-4">
        <br />
        @{ Html.BeginForm("Lookup", "Home"); }
        Orders!
        @{ Model.}
        @{ Html.EndForm(); }
    </div>
 
</div>