@model CdkAssign01.Models.OrdersListViewModel

@{
    Layout = null;
}

    <div>

        <table>
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Order</th>
                </tr>
            </thead>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.CustomerId</td>
                    <td>@order.OrderId</td>
 
                </tr>
            }
        </table>

    </div>
